@model _22Jul2026.Models.Stationary

<div class="text-center">
    <h1 class="display-4">Add Stationary</h1>
</div>

<form asp-controller="Home" asp-action="Stationary" method="post">

    <div>
        <label asp-for="ItemName"></label>
        <input asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>
    <br />

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <br />

    <div>
        <label asp-for="Brand"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <br />

    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">
        Save Stationary
    </button>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}